@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Abel";
  font-size: 16px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

ul {
  padding-inline-start: 0px;
}

.contactus_content {
  margin: 0px;
  padding: 0px;
}

.contactus_content li {
  margin: 0 15px;
  list-style: none;
}

.contactus_content li a {
  color: #555;
  text-decoration: none;
}

.menu-icon-wrapper.active nav {
  transform: translateX(20%);
  z-index: -1;
}

.menu-icon-wrapper {
  width: 300px;
  height: 80px;
}

.menu-icon-wrapper nav {
  transform: translateX(120%);
  background: #ffffff;
  height: 100vh;
  transition: all .5s ease-out;
}

header .container nav ul {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-icon {
  position: absolute;
  height: 28px;
  width: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  top: 20px;
  right: 10px;
}

.menu-icon span,
.menu-icon span::before,
.menu-icon span::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 2.5px;
  background: #f0ca47;
  border-radius: 20px;
}

.menu-icon span::before {
  top: -8px;
}

.menu-icon span::after {
  top: 8px;
}

.menu-icon {
  transform: translateX(0%);
  z-index: 1;
}

.menu-icon.open {
  transform: translateX(-200px);
  z-index: 99;
}

.menu-icon-wrapper nav ul li {
  list-style: none;
  padding: 20px;
}

.menu-icon-wrapper nav ul li:first-child {
  padding-top: 40px;
}

.menu-icon-wrapper nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
}

.menu-icon-wrapper nav ul li a:hover {
  color: white;
}

.menu-icon.open span {
  background: transparent;
}

.menu-icon.open > span::before {
  transform: rotate(-225deg);
  top: 0;
}

.menu-icon.open > span::after {
  transform: rotate(225deg);
  top: 0;
}

nav ul {
  list-style: none;
  margin-top: 0px;
}

nav ul li a {
  text-decoration: none;
}

.featured-flex .contactus_linked {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.featured-flex .contactus_linked ul {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.featured-flex .contactus_linked ul li {
  margin: 0 15px;
  list-style: none;
}

.featured-flex .contactus_linked ul li a {
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background: #ffd700;
  border-radius: 50%;
  font-size: 30px;
  color: #2d3142;
}

.featured-flex .contactus_linked ul li a:hover {
  color: #ffd700;
  background: #2d3142;
  animation: backgroun 1s linear;
}

header .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header .container .mainlogo img {
  max-height: 81px;
}

header .container nav {
  text-align: right;
}

header .container nav ul {
  padding: 1em;
}

header .container nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 1em 0em 1em;
}

header .container nav ul li a {
  font-size: 1.4em;
  text-transform: uppercase;
  text-decoration: none;
  color: #555;
}

header .container nav ul li a:hover {
  border-bottom: 2px solid grey;
  color: #f0ca47;
}

.hero-banner {
  display: flex;
  height: 80vh;
  background: url("/asset/img/hero-banner.png");
  background-size: cover;
  background-position: center;
  transition: border-radius 0.3s, opacity 0.3s;
}

.hero-banner .hero-banner-content {
  max-width: 300px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: #ffffff;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #e8c346 100%);
}

.hero-banner .hero-banner-content h2 {
  text-align: right;
  padding: .3em;
  font-size: 2.5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

section .container h2 {
  line-height: 1;
  font-family: "Dosis", Sans-serif;
  font-size: 2em;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

section .container span {
  width: 100%;
  margin: 1.8em 0em;
  font-weight: 100;
  display: block;
  text-align: center;
  font-size: 1.8em;
}

section .container p {
  line-height: 2em;
  text-align: center;
  font-size: 1.5em;
  font-family: "Open Sans", Sans-serif;
}

.saying {
  padding: 1em;
  font-family: "Open Sans", Sans-serif;
  font-size: large;
  text-align: center;
  line-height: 1.5em;
}

.divider {
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 40%;
  margin: 0 auto;
  background: #f0ca47;
}

#myskills span {
  margin: 1em .5em 0 0;
  font-size: 1.5em;
  font-family: "Abel";
  text-transform: uppercase;
}

#myskills .container {
  margin-bottom: 1em;
}

.cover {
  width: 100%;
  height: 10px;
  background-color: #262626;
  border: 1px solid #f0ca47;
  border-radius: 2px;
}

.web-1 .progressbar {
  width: 5%;
  animation: animateskills 1s linear;
}

.web-2 .progressbar {
  width: 10%;
  animation: animateskills 1s linear;
}

.web-3 .progressbar {
  width: 15%;
  animation: animateskills 1s linear;
}

.web-4 .progressbar {
  width: 20%;
  animation: animateskills 1s linear;
}

.web-5 .progressbar {
  width: 25%;
  animation: animateskills 1s linear;
}

.web-6 .progressbar {
  width: 30%;
  animation: animateskills 1s linear;
}

.web-7 .progressbar {
  width: 35%;
  animation: animateskills 1s linear;
}

.web-8 .progressbar {
  width: 40%;
  animation: animateskills 1s linear;
}

.web-9 .progressbar {
  width: 45%;
  animation: animateskills 1s linear;
}

.web-10 .progressbar {
  width: 50%;
  animation: animateskills 1s linear;
}

.web-11 .progressbar {
  width: 55%;
  animation: animateskills 1s linear;
}

.web-12 .progressbar {
  width: 60%;
  animation: animateskills 1s linear;
}

.web-13 .progressbar {
  width: 65%;
  animation: animateskills 1s linear;
}

.web-14 .progressbar {
  width: 70%;
  animation: animateskills 1s linear;
}

.web-15 .progressbar {
  width: 75%;
  animation: animateskills 1s linear;
}

.web-16 .progressbar {
  width: 80%;
  animation: animateskills 1s linear;
}

.web-17 .progressbar {
  width: 85%;
  animation: animateskills 1s linear;
}

.web-18 .progressbar {
  width: 90%;
  animation: animateskills 1s linear;
}

.web-19 .progressbar {
  width: 95%;
  animation: animateskills 1s linear;
}

.web-20 .progressbar {
  width: 100%;
  animation: animateskills 1s linear;
  width: 99%;
}

@keyframes animateskills {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.progressbar {
  transition: 1s;
  height: 6px;
  background-color: #f0ca47;
  margin-left: 2px;
  margin-top: 2px;
  border-radius: 2px;
}

ul.webskills {
  font-family: "Open Sans", Sans-serif;
  max-width: 500px;
  margin: auto;
  margin-bottom: 50px;
}

ul.webskills li {
  list-style: none;
  line-height: 1.5em;
}

.featured-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.featured-flex div {
  flex-basis: 100%;
  margin: auto;
  text-align: center;
}

.featured-flex div img {
  display: block;
  width: 100%;
  margin: auto;
}

.featured-flex div .featured-content {
  width: 80%;
  max-width: 400px;
  margin: auto;
}

.featured-flex div h2 {
  line-height: 1;
  font-family: "Dosis", Sans-serif;
  font-size: 2em;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

.featured-flex div p {
  line-height: 2em;
  text-align: center;
  font-size: 1.5em;
  font-family: "Open Sans", Sans-serif;
}

.featured-flex .featured-content.personal {
  margin-bottom: 10px;
}

.featured-flex .featured-content.personal .divider {
  margin-bottom: 10px;
}

.featured-flex .personalInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  grid-gap: 1em;
  font-family: "Open Sans", Sans-serif;
}

.featured-flex .personalInfo .personalContent {
  padding-left: 5px;
}

.featured-flex .personalInfo .personalLable, .featured-flex .personalInfo .personalContent {
  width: 100%;
  text-align: left;
}

.withborder {
  border-top: 0.3em solid #f0ca47;
}

.meet {
  padding: 2em 0em;
  background: #f0ca47;
}

.meet .divider {
  background: #555;
}

.meet div .featured-content {
  width: 95%;
  max-width: 600px;
}

.meet div .featured-content p {
  font-size: 1.2em;
  line-height: normal;
}

.meet div .featured-content iframe {
  width: 100%;
  min-height: 300px;
}

footer {
  background: #1b1b1b;
  color: #ffffff;
  padding: 2em 0em;
}

footer .footer-first-row {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}

footer .footer-first-row div {
  margin-bottom: 1.5em;
}

footer .footer-first-row:nth-child(2) {
  grid-template-columns: 1fr;
  text-align: center;
  justify-items: center;
  align-items: center;
}

footer .footer-first-row span {
  font-size: 1.2em;
  text-align: center;
  border-left: 2px solid #f0ca47;
  padding-inline-start: 1em;
}

footer .footer-first-row ul {
  padding-inline-start: 0em;
}

footer .footer-first-row ul li {
  width: 100%;
  list-style: none;
  padding: .5em 0em;
  border-bottom: 0.05em solid #ffffff;
  font-size: 1.2em;
}

footer .footer-first-row ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", Sans-serif;
}

footer .footer-first-row ul li a:hover {
  color: #f0ca47;
}

footer .footer-second-row {
  padding: 3em 0em;
  text-align: center;
  font-size: .8em;
}

.updateeuser {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: .5fr auto 1fr .5fr;
  grid-gap: 1em;
  padding: 2em 0;
}

.updateeuser label {
  align-items: center;
  justify-items: right;
  padding: 1em 0;
  grid-column: 2/2;
  font-size: 1.4em;
}

.updateeuser input {
  font-size: 1.4em;
  width: 90%;
  padding: .5em 0;
  grid-column: 3/4;
}

.updateeuser .submit {
  grid-column: 3/4;
  border: 1px solid #555;
  padding: 1em 0;
  width: 90%;
  text-align: center;
  cursor: pointer;
  background-color: #f0ca47;
}

.updateeuser .submit:hover {
  background: #1b1b1b;
  color: #ffffff;
}

.createuser {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: .5fr auto 1fr .5fr;
  grid-gap: 1em;
  padding: 2em 0;
}

.createuser label {
  align-items: center;
  justify-items: right;
  padding: 1em 0;
  grid-column: 2/2;
  font-size: 1.4em;
}

.createuser input {
  font-size: 1.4em;
  width: 90%;
  padding: .5em 0;
  grid-column: 3/4;
}

.createuser .submit {
  grid-column: 3/4;
  border: 1px solid #555;
  padding: 1em 0;
  width: 90%;
  text-align: center;
  cursor: pointer;
  background-color: #f0ca47;
}

.createuser .submit:hover {
  background: #1b1b1b;
  color: #ffffff;
}

.alert {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 1em 0;
  transition-delay: 2s;
  animation-timing-function: ease-in;
  margin-top: 1em;
  width: 90%;
}

.alert-error {
  background-color: #ff000080;
  color: #ffffff;
}

.alert-error ul li {
  list-style: none;
  font-weight: bold;
}

.alert-success {
  background-color: #f0ca47;
  color: #ffffff;
}

section .container .userlist-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .5em;
  padding: 1em 0;
  font-size: 1.3em;
}

section .container .userlist-wrap span {
  width: inherit;
  height: inherit;
  margin: inherit;
  font-size: inherit;
}

@media only screen and (min-width: 37.5em) and (min-width: 37.5em) {
  header .container nav ul {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .navigation li .ham {
    display: none;
  }
  #menu-icon {
    display: none;
  }
  .menu-icon-wrapper {
    width: 100%;
  }
  .menu-icon-wrapper nav {
    transform: unset;
    background: unset;
    height: unset;
  }
  header .container nav ul {
    padding: 0;
    text-align: right;
  }
  .menu-icon-wrapper nav ul li {
    padding: 0px;
  }
  header .container {
    grid-template-columns: auto 1fr;
  }
  .featured-flex div {
    flex-basis: 50%;
  }
  footer .footer-first-row {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 60em) and (min-width: 60em) {
  nav .main-nav {
    list-style: none;
  }
  nav .main-nav li {
    display: inline-block;
  }
  nav .main-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
  }
  .menu-icon-wrapper nav ul li {
    padding: 0px;
  }
  footer .footer-first-row {
    grid-template-columns: 1fr 1fr 1fr;
  }
  section .container .userlist-wrap {
    grid-template-columns: minmax(1em, 0.8fr) repeat(2, minmax(200px, 1fr)) repeat(2, 0.5fr) minmax(1em, 0.8fr);
  }
  section .container .userlist-wrap div:first-child {
    grid-column: 2/2;
  }
  section .container .userlist-wrap div:nth-child(2) {
    grid-template-columns: 3/3;
  }
}
/*# sourceMappingURL=style.css.map */