
body {
    font-size: 16px;
    margin:auto;
    background-color: $backgroundmain;
    font-family: $mainfont; 
    line-height: 1.5rem;
    display: grid;
    grid-template-rows: auto 180px auto auto auto;
    grid-template-areas: 
                        "aside"
                        "hd" /*"mainlogo tagline"*/
                        "navi"
                         "main"
                         "footer";                     
}

aside{
    grid-area: aside;
    display: flex;
    flex-wrap: wrap;
    flex:auto;
    flex-direction: column;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.banner_reminder{
    text-align: center;
    width: 100%;
    padding:20px;
    background-color: $defaultfontcolor;
}

header{
    grid-area: hd;
    background-color: $maincolor;
    display: flex;
    flex-wrap: wrap;
    flex:auto;
    flex-direction: column;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#mainlogo{
    width: 300px;
    img{
        max-width: 100%;
    }
  
}

#maintag{
   text-align: center;
   color:$defaultfontcolor;
   h1{
    line-height: 1em;
}
} 
.maintagline{
    font-style: italic;
}


main {
    grid-area: main;
    width:100%;
    max-width: 1200px;
    display: flex;
    margin:auto;
}

article{
    width:100%;
    max-width: 1200px;
  padding:20px;
}

section.contentimage{
    padding:20px;
    background:$maincolor24;
}

section{
    padding-bottom: 20px;
    
}


/* Navigation here */
nav{
    text-align: center;
    grid-area: navi;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,0.7875525210084033) 100%, rgba(255,0,0,0.4009978991596639) 100%);
}

.navigation{
    padding:0px;
    li {
        display: none;
    }
}

.navigation li:first-child {
	display: block;
}





.responsive li {
	display: block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0px;
    padding: 15px;
    display:block
}

nav ul li a:hover{
    background: $maincolor;
}

/* main content here */
/* this is for slider */
/* .slider{
 background:url("../images/banner.jpg");
background-size: cover !important; 
width: 100%;
} */

/* main content here */
.banner_container{
  width: 100%;
  position: relative;
    }

    

.picslider img, .picslider source {
    width: 100%;
}
.weather_summary {
    width: 300px;
    position: absolute;
    color: rgb(202, 202, 202);
    display: block;
    margin: auto;
    background-color: rgba(34, 49, 63, 0.63);
    height: auto;
    top: 10px;
    left: 10%;
    
}



.weather_header{
    text-align: center;
    font-size: 1.4rem;
    padding-top: 15px;
    display: block;
    margin-bottom: 20px;
    font-weight: bold;

}
.weather_info_wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
}

.weather_info_row1{
    text-align: right;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.weather_info_row2{
    margin-left: 10px;
    color:$backgroundmain;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.forecast{
    display: none;
}

.contentimage{
    display: flex;
    flex-direction: column-reverse;
}

.onethird{
  
    text-align: justify;
}
.section_author{
    width: 100%;
    clear: both;
    text-transform: uppercase;
    display: block;
    font-size: .7rem;
    color:$maincolorad;
    font-style: italic;
    font-family:$stylingfont;
  
}

.onefourth img{
margin:auto;
display: block;
width: 100%;
height: auto;
border-radius: 4%;
box-shadow: 0px 0px 15px #333;
margin-bottom: 30px;
}

.sectionheader{
    font-size: 1.2em;
    font-weight: bold;
}


/*footer*/

footer {
    font-size: 	16px;
    font-family: $mainfont;
    color:#504f4f;
    background-color:$defaultfontcolor;
    line-height: 1.5rem;
    width: 100%;
    max-width: 1200px;
    grid-area: footer;
    
    margin:auto;
}

.credit_wrapper{
    border-top: 1px solid #d8d8d8;
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    flex-basis: 100%;
}
.footerlink{
    color: #3e3e3e;
}

.footerlink:hover{
    color:red;
}
.footer_secondline, .footer_firstline{
    flex-basis: 100%;
}

.footer_firstline{
    font-size: .9rem;
}


.firstrow_footer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: 100%;
    
}

.footermap{
    display: none;
}
.footercontact{
    flex-basis: 100%;
    margin-bottom: 20px;
    text-align: center;
    
}

.firstfooter_wrapper{
    padding:20px;
}
.footer_header{
    font-size: 1.2rem;
    clear:both;
    width:100%;
    display:block;
    margin-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    color: #acacac;
    
   
    
}

.list-inline li {
display: inline-block;
line-height: 20px;
padding-left: 5px;
padding-right: 5px;
font-size: 2.2rem;
}

.fab {
    font-family: "Font Awesome 5 Brands";
    color:$maincolor;
}
.fa-facebook:hover, .fa-twitter:hover,.fa-instagram:hover ,.fa-pinterest:hover, .fa-youtube:hover{

    color: rgba(255,0,0,.8);
    
    }



 /* Gallery page css    */

 .gallery_container{
     display: grid;
     justify-content: center;
     align-items: center;
     grid-template-columns: auto;
 }

 .gallery_col{
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 
 .gallery_col figcaption{
     text-align: left;
     width: 100%;
 }

 
 .appear {
	opacity: 1;
  }
  .gal7 {
	opacity: 0;
    transition: opacity 250ms ease-in; 
  }
  
  .gal7.appear{
	opacity: 1;
  }

 /* Stormcenter forms */
 
 .form_set{
    display: grid;
    grid-template-columns:minmax(1em, 1fr) minmax(1em, 3fr);
    justify-content: center;
    grid-gap: .5em;
    align-items: center;
    padding:5px;
 }

 .form_set label{
    grid-column: 1 / 2;
 }

 .form_set input, .form_set datalist, .form_set button {
    grid-column: 2 / 2;
 }

 #stormratingvalue{
     padding-left: 10px;
     font-size: 18px;
 }
  
 .form_set input, .form_set datalist, .form_set select{
     padding:10px;
 }

 .form_set input[type=range]{
     padding:0px;
     width: 80%;
 }

 .form_set input[type=radio]{
    width: 20px;
    height: 20px;
 }
.form_set textarea{
    height: 200px;
}


 .form_set.form_adjust{
     grid-row-gap: 0em;
 }
 .gridgroup{
     display: flex;
     align-content: center;
     span{
        padding-right: 10px;
        align-content: center;
    }
 }

 .form_set input[type=submit] {
     padding:20px;
     cursor: pointer;
     background-color: $maincolor;
     border: 1px solid #333;
     color:$defaultfontcolor;
 }

 .form_set input[type=submit]:hover{
     background:$maincolorc9;
     border:1px solid red;
 }


.form_set input, .form_set textarea{
    border:1px solid  rgb(189, 196, 212);
}

/* homepage */
.towns{
    padding: 50px;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-gap: 20px;
    margin: auto;
    grid-template-columns: auto;

    
.townmotto{
    font-size: .8rem;
    font-style: italic;
}

        section{
                margin-top:0px;
                margin-bottom: 0px;
                padding-bottom: 50px;
                width: 100%;
                margin:auto;
                background-color:$townsection;
                border:1px solid #6868e6eb;
              
                img{
                    /* width: 100%; */
                    max-height: 300px;
                    display: block;
                    margin:auto;
                    margin-top:20px;
                    box-shadow: 0px 0px 15px #333;
                
                }
                
                span{
                    width: 100%;
                    display: block;
                    text-align: center;
                    padding-bottom:.5em; 
                    }
                 h2{
                        text-align: center;
                    }
        }

    

    img{
        width: 90%;
        margin:auto;
    }

}

.towntextcontainer{
    height: 200px;
    margin:auto;
}


.towntextcontainer h2{
    padding-bottom: 0px;
    margin-block-end: 0em;
    
}

.towntextcontainer span:nth-child(3){
    padding-top:10px;
}


.towntextcontainer{
    width: 90%;
}


.eventtowntitle{
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid $maincolor24;
}

.forecastflexdata{
    font-family:$stylingfont;
    transition-timing-function: ease-in;
    transition: 1s;
}

.eventdiv{
    background: $maincolor24;
    padding:20px;
    transition-timing-function: ease-in;
    transition: 1s;

    ul li{
        list-style: none;
        font-family:$stylingfont;
    
    }

}


.forecast_disclaimer{
    font-size: .8rem;
    font-style: italic;
    font-family:$stylingfont;
}