body{
    padding: 0px;
    margin: 0px;
    max-width: 1400px;
}

main{
    padding:20px;
}
.cards{
display: grid;
grid-template-columns: auto;
justify-content: stretch;
align-items: center;
grid-gap: 20px;
align-items: center;
grid-auto-columns: 480px;
}

section{
    padding-bottom: 50px;
    width: 90%;
    margin:auto;
    background-color: #B9B9CC;
    border:1px solid #6868e6eb;
}

.cards section{
    background-color: #B9B9CC;
}

section img{
    /* width: 100%; */
    min-height: 200px;
    display: block;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 15px #333;
    height: 240px;
   
}

h1, section h2{
    text-align: center;
    color:#4D4D96;
    font-family: 'Merriweather', serif; 
}

section span{
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom:.5em;
    font-family: 'Ubuntu', sans-serif;
    
}


footer{
    background-color: #B9B9CC;
    border-top: 1px solid #d8d8d8;
    padding-bottom: 32px;
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    flex-basis: 100%;
    display: block;
}


@media only screen and (min-width: 37.5em) {
    .cards{
        grid-template-columns: repeat(2, 1fr);
        }
    
    section{
            width: 100%;
        }    
}

@media only screen and (min-width: 60em) {
    .cards{
        
    grid-template-columns:repeat(4, 1fr);
    }

    section{
        width: 100%;
    }
}