body{
    font-size: 14px;
    font-family: $mainfont;


}

header{
    display: flex;
}
.mainmenu ul{

    li {
        list-style: none;
        display: none;
        
        a{
            font-style:$headerFont;
            text-decoration: none;
        }
    }

    li:first-child {
        display: block;
    }
}


.responsive li {
	display: block !important;
}