$mainBG:#131424;
$sectionBG:#fff;
$sectionALT:#f3f6f8;
$highlightedBG:#7996af;
$footerBG:#333;

$mainFontcolor:#131424;

$textColorLight:#fff;
$textColorDark:#3e3e3e;

$headerFont:'Advent Pro', sans-serif;
$mainfont:'Overlock SC', cursive;

