$mainBG:#131424;
$sectionBG:#cdd0e5;
$highlightedBG:#7996af;
$footerBG:#333;

$mainFont:#fff;

$textColorLight:#fff;
$textColorDark:#3e3e3e;

$headerFont:'Advent Pro', sans-serif;
$mainfont:'Overlock SC', cursive;

