
 
 .appear {
	opacity: 1;
  }
  
  .col1-grid {
	padding: 4em 0;
	display: grid;
	grid-gap: 2em;
	align-items: center;
	grid-template-columns: auto;
	justify-content: center;
  }
  
  .animation {
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);

	transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
	transition: opacity 250ms ease-in, transform 400ms ease-in;
	
	opacity: 0;
	
	/*this is for fadein 
	opacity: 0;
  transition: opacity 250ms ease-in; */
  }
  
  .animation.appear{
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
  }
  
  
  