.w8_table{
    padding:0px;
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-family:  Ubuntu, sans-serif;
  }

.w8_table, .w8_table td{
    border:1px solid  #504f4f;
    background:#e7f0ed;
   
}

.w8_table thead:first-child{
    font-weight: 800;
    font-size: 2em;
}

.w8_table tfoot:last-child{
   font-size: 14px;
}
.w8_table .table_italic{
    font-style: italic;
}

.w8_table th, .w8_table tfoot td{
    background: #7fb9c2;
}


.w8_table .table_title{
    background:  #628ca6;
    /* color:#e7f0ed; */
    color:white;
    font-weight: 700;
    font-size: 18px;
}
.w8_table .table_highlight{
    background:  #628ca6;
    color:white;
}

.table_colspan{
    background:  #628ca6;
    text-align: center;
}



.w8_table td{
    padding:10px;
}
