table{
    padding:0px;
    border-collapse: collapse;
    font-size: 16px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 10px 10px 15px #628ca6;
    background:#e7f0ed;
  }

  table, td, tr, th{
    font-family: 'Ubuntu', sans-serif;
  }



table, table td{
    border:1px solid  rgb(189, 196, 212);
}

table thead{
    font-size: 2em;
}
table tfoot{
   font-size: 14px;
}
table .table_italic{
    font-style: italic;
}

table th, table tfoot td{
    background: #7fb9c2;
}


table tr td.table_highlight{
    background:  #628ca6;
    color:white;
    font-weight:bolder;
    font-size: 18px;
}
table tbody :nth-child(5) :nth-child(3){

    background:  #628ca6;
}


.table_colspan{
  
    text-align: center;
}



table td, table th{
    padding:10px;
}

/* 
//#e7f0ed
//#e7ffed */
 
/* table tr:nth-child(even) {   background:#e7f0ed;} */
table tr:nth-child(odd) { background:#e7ffed;}


table tbody :nth-child(6) :nth-child(1){
    font-style: italic;
}