table{
    padding:0px;
    border-collapse: collapse;
    font-size: 16px;
    text-align: center;
    font-family:  Ubuntu, sans-serif;
    box-shadow: 10px 10px 15px #628ca6;
    background:#e7f0ed;
  }

table, table td{
    border:1px solid  rgb(189, 196, 212);
}

table thead:first-child{
    font-weight: 800;
    font-size: 2em;
}



table tfoot:last-child{
   font-size: 14px;
}
table .table_italic{
    font-style: italic;
}

table th, table tfoot td{
    background: #7fb9c2;
}


table tr td.table_highlight{
    background:  #628ca6;
    color:white;
    
    font-size: 18px;
}


.table_colspan{
  
    text-align: center;
}



table td{
    padding:10px;
}

/* 
//#e7f0ed
//#e7ffed */
/* table tr:nth-child(odd) {  background:#e7f0ed;} */
table tr:nth-child(even) {  background:#e7ffed;}