
$headerFont:'Dosis', Sans-serif;
$mainfont:'Abel';
$otherfont:'Open Sans', Sans-serif;
$mainfontcolor:#555;
$mainfontcolorhover:#f0ca47;
$fontfordark:#ffffff;
$basefont:16px;
$mainBG: #ffffff;
$darkBG:#1b1b1b;
$errorBG:#ff000080;
