@media only screen and (min-width: 37.5em) {
    nav ul { display: flex; }
    nav ul li { flex: 1 1 100%; }

    nav{
        padding-right: 30px;
    }

    .typography_table, .typography_table td{
      border:1px solid  #504f4f;
      font-size: 16px;
  }

    
  .footer_wrapper > section {
    flex: 1;
   
  }

  
            
}